/* Estilos generales */
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #333;
}

h1, h2, h3 {
  margin: 0.5em 0;
  text-align: center;
}

p {
  margin: 0.5em 0 1em;
}


/* Encabezado con imagen de fondo */
.encabezado {
  background-image: url('../img/Canva/hogar.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 7em 1em;
}

/* Menú */
.menu {
  display: flex;
  justify-content: center;
  background-color: #264653; /* azul profundo del fondo del menú */
}

.menu a {
  color: white;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu a:hover { background-color: #4e8da7; /* azul suave hover */
}

.menu a.activo {
  background-color: #4e8da7; /* azul suave activo */
}


section article {
  border: 2px solid #ccc;     /* Borde gris claro */
  border-radius: 10px;          /* Bordes redondeados */
  padding: 2em;                 /* Espacio interno */
  margin: 1em;                  /* Espacio externo */
  background-color: white;    /* Fondo blanco para contraste */
  color: black;               /* Texto oscuro para legibilidad */
  text-align:center;
}


/* Galería */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  gap: 1.5em;
}

.galeria article {
  width: 280px;
  text-align: center;
}

.galeria img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2em auto;
  padding: 5em;
  border: 1px solid #ccc;
  border-radius: 8px;

}

input, textarea {
  padding: 1em;
  margin-top: 1em;
  margin-bottom:1em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #aaa;
  transition: border 0.3s ease;
}

input:focus, textarea:focus {
  border: 2px solid #56879c;
  outline: none;
}

button {
  margin-top: 3em;
  padding: 0.7em;
  color: white;
  background-color:#56879c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #3f6a7b; 
  transform: scale(1.01); 
}

.espaciador {
  margin: 3em 0; 
  padding: 1em; 
  text-align: center; 
}

/* Pie */
footer {
  text-align: center;
  padding: 40px;
  background-color: #eee;
  margin-top: 120px;
}

/* Responsive */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
  }

  .galeria {
    flex-direction: column;
    align-items: center;
  }
}
